*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.css-36lq8r-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: #f08886 !important;
}
.rateing{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 290px;
    top: auto;
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;
}
.MuiPaginationItem-root.Mui-selected{
       color: white !important;
}